server {
	listen 80;
	listen [::]:80;
	server_name {{ item }};

	location ~/.well-known/acme-challenge {
		allow all;
		root /usr/share/nginx/html/{{ item }};
	}

	root /usr/share/nginx/html/{{ item }};
}
